@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@800&display=swap');

*{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif; 
    background-image: url(/Images/c187520bd29a8da6200020e37ac31b0c.jpg);
}
textarea {
    height: 4rem;
    width: 70%;
    display: block;
    padding: 1rem;
    border-radius: 2rem;;
    background-color:#0E2431;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button {
    margin: auto;
    display:block;
    border-radius: 24px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 40%);
    color: #000000;
}
h1,h3 {
    text-align: center;
    color: black;
}
.hero-img {
    max-width: 500px;
}
#text-output {
    height: 4rem;
    width: 70%;
    display: block;
    padding: 1rem;
    border-radius: 2rem;;
    background-color:#0E2431;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 3px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding-bottom: 0;
}

.footer-text {
    font-size: 20px;
    margin-top: 1vh;
}

.footer-icons {
    padding: 1rem;
    padding-left: 30px;
    gap: 50px;
    padding-bottom: 10px;
}

.footer .icon-links {
    font-size: 30px;
    letter-spacing: 30px;
    content: absolute;
}
.copyright {
    font-size: 15px;
    position: relative;
    bottom: 10px;

}